{% extends 'base.html' %}
{% block content %}
<div class="container">
   
   <div class="row">
       <div class="col-md-12">
       <h1> Select catogory</h1>
       <div class="row">
        {% for item in category %}
           <div class="col-2">
               <div class="card" >
                   <div class="card-body">
                       <div class="category-image"  >
                            <img src="{{item.image.url}}" class="w-100">
                       </div>
                       <h4>{{item.name}}</h4>

                   </div>
               </div>

           </div>
        {% endfor %}

       </div>


       </div>

   </div>
</div>


{% endblock %}