<div id="toast">This is our custom toast</div>

<div class="container-fluid">
    <div class="row"  id="footer">
      <div class="col-md-3"  class="footercard">
        <h4>company</h4><hr>
        <div><a href="">About Us</a></div>
        <br>
        <div><a href="">Our Services</a></div>
        <br>
        <div><a href="">Privacy Policy</a></div>
        <br>
        
  
      </div>
      <div class="col-md-3" class="footercard">
        <h4>Get help</h4><hr>
        <div><a href="">FAQ</a></div><br>
        
      

        <div><a href="">Returns</a></div><br>
        
        <div><a href="">Order Status</a></div><br>
        
        <div><a href="">Payment Options</a></div><br>
  
      </div>
      <div class="col-md-3"  class="footercard">
        <h4>Online Shop</h4><hr>
        <div><a href="">Electronics appliances</a></div><br>
        
        <div><a href="">Cloths</a></div><br>
        
        <div><a href="">Shoes</a></div><br>
  
      </div>
      <div class="col-md-3" class="footercard" >
        <h4>Follow Us</h4><hr>
  
      </div>
    </div>
  
  </div>
  </div>
  

 
  {% block js %}
  
  {% endblock %}


</body>

</html>
  
  
  